*{
    margin: 0;
    padding: 0;
}
#wrap{
    padding-top: 100px;
}

/* 헤더 */
#header{
    width: 100%;
    height: 100px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    border-bottom: 1px solid #DDD;
    box-sizing: border-box;
}
#header h1{
    width: 150px;
}
#header h1 img{
    width: 100%;
}
/* 헤더 햄버거메뉴 */
.menu{
    display: block;
}
input[id="menu"]{
    display: none;
}
input[id="menu"] + label {
    position: relative;
    display: block;
    z-index: 5;
    width: 30px;
    height: 22px;
    cursor: pointer;
}
input[id="menu"] + label span {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 30px;
    background: #444;
    transition: 0.2s;
    z-index: 7;
}
input[id="menu"] + label span:nth-child(1) {
    top: 0;
}
input[id="menu"] + label span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}
input[id="menu"] + label span:nth-child(3) {
    bottom: 0;
}
/* 클릭 시 */
input[id="menu"]:checked + label span:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}
input[id="menu"]:checked + label span:nth-child(2) {
    opacity: 0;
}
input[id="menu"]:checked + label span:nth-child(3) {
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
}
.menu1{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    transition-duration: 0.5s;
    height: 1500px;
    width: 0;
    opacity: 0;
    background-color: #F15A22;
    padding-top: 100px;
}
input[id="menu"]:checked~.menu1{
    width: 100%;
    opacity: 1;
}
input[id="menu"]:hover+label>span{
    background: #F15A22;
}
input[id="menu"]:checked+label>span{
    background: #FFF;
}
.menu1>div{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    padding-top: 50px;
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
}
.nav1{
    width: 45%;
    height: 200px;
    margin-bottom: 150px;
}
.nav1 h2{
    color: white;
    font-size: 32px;
    font-weight: 500;
    letter-spacing: -1px;
    transition-duration: 0.2s;
}
.nav1 h4{
    font-size: 16px;
    color: white;
    letter-spacing: 1px;
    margin-top: 6px;
    margin-left: 4px;
}
.nav1>ul>div{
    width: 100%;
    height: 1px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: #FFF;
}
.nav1 li{
    margin-bottom: 6px;
}
.nav1 a{
    color: white;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: -1px;
    transition-duration: 0.2s;
}

/*풋터*/
.footer{
    height: 200px;
    background-color: #434343;
}
.footer>div{
    max-width: 1400px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    transition-duration: 0.2s;
}
.footer ul{
    color: white;
    font-size: 16px;
}
.footer a{
    color: #cccccc;
    font-size: 14px;
    transition-duration: 0.2s;
}
.footer a:hover{
    color: #F15A22;
}
.footer li:first-of-type{
    margin-top: 10px;
}
.cell-logo{
    width: 100px;
    height: 36px;
    color: white;
    font-size: 12px;
    border: 1px solid white;
    border-radius: 6px;
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding-right: 6px;
}
.cell-logo:last-of-type{
    margin-top: 10px;
    padding-right: 2px;
}
.cell-logo>svg{
    margin-right: 6px;
}
.footer-select select{
    display: block;
    width: 130px;
    height: 50px;
}
.f-select{
    width: 150px;
    height: 50px;
    border: 1px solid white;
    box-sizing: border-box;
    border-radius: 6px;
}
.f-select:first-of-type{
    margin-bottom: 10px;
}
.f-select select{
    background-color: transparent;
    color: white;
    margin: 0 auto;
}
.toggle{
    display: none;
}
#tablet-footer{
    display: none;
}

/*노트북 미디어쿼리*/
@media screen and (max-width:1400px){
    .pc-nav>ul{
        width: 500px;
    }
    .header-info{
        width: 150px;
    }
    .footer>div{
        max-width: 1000px;
    }
}
@media screen and (max-width: 763px){
    .nav1 h2{
        font-size: 28px;
    }
    .nav1 a{
        font-size: 16px;
    }
}

/* 태블릿 미디어쿼리 */
@media screen and (max-width:1024px){
    .footer{
        display: none;
    }
    #tablet-footer{
        display: block;
    }
}